header{
    width : 85vw;
    padding: 8vh 10vw 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
}
header>div>.darkButton{
    margin-right: 15px;
}
header>img{
    height: 15vh;
}