#mapContent{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

body{
    overflow-y: hidden;
}

#map {
    width: 100vw;
    height: 145vh;
    padding-top: -10vh;
}

#tweetsViewWrapper{
    height: 100vh;
    position: absolute;
    background: var(--gradient);
    display: flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: stretch;
    z-index: 1;
}

#tweetsView {
    min-width: 300px;
    width: 23vw;
    max-width: 400px;
    height: 100vh;
    z-index: 2;
    background: var(--color-gradient);
    backdrop-filter: blur(16px);
    display: flex;
    flex-direction:column;
    align-items: stretch;
    justify-content:stretch;
}

/*----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------*/

#buttonsPageWrapper{
    width: 100%;
    background-color: var(--gray);
}

#buttonsPage{
    width: 100%;
    height: 5vh;
    margin-bottom: 0.5vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}
#buttonsPage>div{
    cursor: pointer;
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttonsPage>div>p{
    font-size: 0.90vw;
    font-weight: 700;
}

@media (min-width: 1830px) {
    #buttonsPage>div>p{
        font-size: calc(0.90px * 18.30);
    }
}

#scrollPage{
    transition: margin-left 0.6s;
    width: calc(100% / 3);
    margin-left: 0;
    height: 0.5vh;
    background-color: var(--yellow);
    margin-top: -0.5vh;
}

/*----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------*/

#tweets {
    background-image: url('https://static.cdnlogo.com/logos/t/96/twitter-icon.svg');
    background-size: cover;
    
    border-radius: 50%;
    cursor: pointer;
}
     
.mapboxgl-popup {
    max-width: 200px;
}






.tweets {
    margin-top: 10px;
    padding: 5px;
    background-color: thistle;
}

.tweetI {
    width: fit-content;
    padding: 2px;
    background-color: tomato;
    border: aliceblue 2px solid;
}


