@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

p{
    font-weight: 400;
    font-size: 1.05vw;
    font-family: 'Lato', sans-serif;
}
.classicButton{
    font-weight: 700;
    font-size: 1.05vw;
    font-family: 'Lato', sans-serif;
}
h3{
    margin: 0;
    font-weight: 700;
    font-size: 1.2vw;
    font-family: 'Lato', sans-serif;
}
h2{
    font-weight: 400;
    font-size: 3vw;
    margin: 0;
    font-family: 'Cardo', serif;
}
#loadingText{
    font-weight: 400;
    font-size: 60px;
    font-family: 'Cardo', serif;
}

@media (min-width: 1830px) {
    p,.classicButton{
        font-size: 19.215px;
    }
    h3{
        font-size: 21.96px;
    }
    h2{
        font-size: 54.9px;
    }
}